<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @opinion.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @opinion.body %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @opinion.starts %>
</p>

<p>
  <strong>Event:</strong>
  <%= @opinion.event_id %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
