<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Logo_apple_pnh.png" width="20px">
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <%= link_to "Inicio", root_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Comentarios", opinions_path, class: "nav-link active" %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to "Editar mi perfil", edit_user_registration_path, class: "nav-link active" %></li>
        <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "nav-link active" %></li>
      <% else %>
        <li><%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link active" %></li>
        <li><%= link_to "Registrarse", new_user_registration_path, class: "nav-link active" %></li>
      <% end %>
    </ul>
    <form class="d-flex">
      <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          Acciones de usuario
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Registrarse", new_user_registration_path, class: "nav-link active" %></li>
          <li><%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link active" %></li>
        </ul>
      </div>
    </form>
  </div>
</nav>