
<style>
    form {
        margin: auto;
        width: 50%;
        justify-content: center;

    }

    h1 {
        text-align: center;
    }
</style>
<div class="center-block">

  <h1 class="h3 mb-3 fw-normal">¿Has olvidado tu contraseña?</h1>



  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-floating">
    <%= f.submit "enviar mail de recuperación",class: "w-100 btn btn-lg btn-primary" %>
  </div>
    <%= render "devise/shared/links" %>
<% end %>


</div>