<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields form-group mt-3">
    <%= form.label :name , class: "control-label" %>
    <%= form.text_field :name , class:"form-control" %>
  </div>

  <div class="fields form-group mt-3">
    <%= form.label :info , class: "control-label" %>
    <%= form.text_area :info , class:"form-control"  %>
  </div>

  <div class="fields form-group mt-3">
    <%= form.label :date , class: "control-label" %>
    <%= form.datetime_select :date , class:"form-control" %>
  </div>


  <div class="rowp-1  d-flex justify-content-between align-items-center mt-3">
    <div class="fields form-group col-5">
      <%= form.label :price, class: "control-label"  %>
      <%= form.text_field :price , class:"form-control" %>
    </div>
    <div class="fields form-group col-5">
      <%= form.label :nTickets, class: "control-label"  %>
      <%= form.number_field :nTickets , class:"form-control" %>
    </div>
  </div>

  <div class="rowp-1  d-flex justify-content-between align-items-center mt-3">
    <div class="fields form-group col-5">
      <%= form.label :img, class: "control-label"  %>
      <%= form.text_field :img , class:"form-control" %>
    </div>
    <div class="fields form-group col-5">
      <%= form.label :color, class: "control-label"  %>
      <%= form.text_field :color , class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary text-white w-100 mt-3 p-3" %>
  </div>
<% end %>
