

<p id="notice"><%= notice %></p>


<h1>Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Info</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col">Ntickets</th>
      <th scope="col">Img</th>
      <th scope="col">Color</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td scope="row"><%= event.name %></td>
        <td><%= event.info %></td>
        <td><%= event.date %></td>
        <td><%= event.price %></td>
        <td><%= event.nTickets %></td>
        <td><%= event.img %></td>
        <td><%= event.color %></td>
        <td><%= link_to 'Show', event, class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<button type="button" class="btn btn-primary text-white m-2" style="float: right">
  <%= link_to 'New Event', new_event_path,  :class => "btn text-white" %>
</button>

<br><br>

<div class="album py-5 bg-white">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <% @events.each do |event| %>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h4 class="card-text"> <%= event.name %> </h4>
              <p class="card-text"> <%= event.date %> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p>
                    <%= link_to 'Show', event, class: "btn btn-outline-primary" %>
                  </p>
                  <p>
                    <%= link_to 'Edit', edit_event_path(event), class: "btn btn-outline-primary" %>
                  </p>
                  <p>
                    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary" %>
                  </p>
                </div>
                <h5>
                  <%= event.price %>€
                </h5>

              </div>
            </div>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>
