<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @event.info %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Ntickets:</strong>
  <%= @event.nTickets %>
</p>

<p>
  <strong>Img:</strong>
  <%= @event.img %>
</p>

<p>
  <strong>Color:</strong>
  <%= @event.color %>
</p>

<div class="btn-group m-4">
  <p>
    <%=link_to 'Back', events_path,  :class => "btn btn-primary m-3" %>
  </p>
  <p>
    <%= link_to 'Edit', edit_event_path(@event)  , :class => "btn btn-outline-primary m-3" %>
  </p>
</div>

<div class="row align-items-center justify-content-center p-4">

  <div class="row p-4 a shadow rounded w-75" style="background-color:#fff;">

    <div class="row mt-4">
      <h1> <%= @event.name %> </h1>
      <p> <%= @event.date %> </p>
    </div>

      <div class="col-lg-8 p-4">
        <div class="row mt-4">
          <h1 style="border-bottom: #2E2F30 solid 2px"> INFO </h1>
          <p> <%= @event.info %> </p>
        </div>

        <div class="row mt-4">
          <h1 style="border-bottom: #2E2F30 solid 2px"> GALERIA </h1>

          <div id="myCarousel" class="carousel slide rounded" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" style="max-height: 40em;">
                <img class="rounded" src="https://astelus.com/wp-content/viajes/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg">
              </div>
              <div class="carousel-item" style="max-height: 40em;">
                <img class="rounded" src="https://mott.pe/noticias/wp-content/uploads/2019/03/los-50-paisajes-maravillosos-del-mundo-para-tomar-fotos-1280x720.jpg">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" color="white">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                        </svg></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16" color="white">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                    </span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row align-items-center justify-content-center">
          <p class="btn btn-lg btn-primary mt-2 rounded-pill">Num Entradas <br> <%= @event.nTickets %></p>
          <p class="btn btn-lg btn-primary mt-2 rounded-pill">Precio <br<%= @event.price %></p>
        </div>

      </div>
    </div>

  </div>

</div>
